.React-Spinner {
    background: transparent;
    border-radius: 100%;
    border: 3px solid;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}  