#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.select-widget {
  width: 100%;
  height: 5vh;
}

.widgets-properties {
  position: absolute;
  top: 7.5vh;
  width: 40vw;
  left: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.Color {
  width: 20%;
  height: 5vh;
}

.Speed {
  width: 80%;
  height: 4.6vh;
}

.Row {
  display: flex;
  flex-direction: row;
}