body {
    background-color: white;
}

.React-Dots {
    display: grid;
    grid-template-columns: repeat(5, fit-content(10%));
    grid-gap: 5%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.React-Dots div {
    padding: 0;
    margin-inline: 0%;
    border-radius: 100%;
    animation: Dots-Animation 0.9s infinite linear;
}

@keyframes Dots-Animation {
    0% {
        scale: 0.7;
        opacity: 0.2;
    }
    40%, 80% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 0.7;
        opacity: 0.2;
    }
}